.text-transform-none {
  text-transform: none !important;
}
.v-list-item-icon--start {
  -webkit-margin-end: 12px !important;
  margin-inline-end: 12px !important;
}
.v-list {
  padding-inline-start: 14px !important;
  overflow-x: hidden !important;
}